.page.theme_dark {
  --color-logo-text: #DB00FF;
  --color-logo-shadow: #FF0070;
  --color-accent: #FF0070;
  --color-button: #FF0070;
  --color-button-hover: rgba(255, 0, 112, 0.4);
  --color-title-section: #FF0070;
  --color-title-topic: #000028;
  --color-title-item: #000028;
  --color-title-background: #FF0070;
  --color-text: #f1b2ce;
  --color-link-accent: #FF0070;
  --color-background: #000028;

  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__rec {
  display: flex;
}
