.page.theme_light {
  --color-logo-text: #FFC2E6;
  --color-logo-shadow: #ff8dcb;
  --color-accent: #353430;
  --color-button: #353430;
  --color-button-hover: rgba(50, 49, 45, 0.4);
  --color-header-3: #353430;
  --color-header-4: #353430;
  --color-header-background: #FF8DCB;
  --color-text: #353430;
  --color-link-accent: #FF8DCB;

  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__rec {
  display: none;
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--color-button);
}

.theme_light .header__theme-menu-button:hover {
  --nav-hover-color: rgb(50 49 45 / 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-logo-text: #FFC2E6;
    --color-logo-shadow: #ff8dcb;
    --color-accent: #353430;
    --color-button: #353430;
    --color-button-hover: rgba(50, 49, 45, 0.4);
    --color-header-3: #353430;
    --color-header-4: #353430;
    --color-header-background: #FF8DCB;
    --color-text: #353430;
    --color-link-accent: #FF8DCB;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--color-button);
  }

  .header__theme-menu-button:hover {
    --nav-hover-color: rgb(50 49 45 / 0.4);
  }
}