.page.theme_light {
  --color-logo-text: #FFC2E6;
  --color-logo-shadow: #ff8dcb;
  --color-accent: #353430;
  --color-button: #353430;
  --color-button-hover: rgba(50, 49, 45, 0.4);
  --color-title-section: #353430;
  --color-title-topic: #353430;
  --color-title-item: #353430;
  --color-title-background: #FF8DCB;
  --color-text: #353430;
  --color-link-accent: #FF8DCB;
  --color-background: #FFF1F7;

  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-logo-text: #FFC2E6;
    --color-logo-shadow: #ff8dcb;
    --color-accent: #353430;
    --color-button: #353430;
    --color-button-hover: rgba(50, 49, 45, 0.4);
    --color-title-section: #353430;
    --color-title-topic: #353430;
    --color-title-item: #353430;
    --color-title-background: #FF8DCB;
    --color-text: #353430;
    --color-link-accent: #FF8DCB;
    --color-background: #FFF1F7;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}