.page {
  background-image: url(/images/cover-image-dark.png);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  padding: 0 var(--main-gap);
}

.header3 {
  color: var(--color-header-3);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.header4 {
  color: var(--color-header-4);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--color-header-background);
}

.header5 {
  color: var(--color-header-4);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--color-header-background);
}

.text {
  margin-top: 10px;
  color: var(--color-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.link {
  position: relative;
  transition: border 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
}

.link:hover {
  border-bottom: 1px solid var(--color-text);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--color-text);
}

.link::after {
  content: attr(data-text);
  position: absolute;
  top: 6%;
  left: 2%;
  z-index: -1;
  color: var(--color-link-accent);
}

/*-------------------header--------------------*/
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  padding: var(--main-gap);
  font-size: 18px;
  block-size: 100vh;
  min-block-size: 668px;
}

@supports (block-size: 100dvb) {
  .header {
    block-size: 100dvb;
  }
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--color-accent);
  border-block-start: 1px solid var(--color-accent);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--color-accent);
  border-block-end: 1px solid var(--color-accent);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 4px 12px;
  color: var(--color-button);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  transition: border 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
}

.header__title {
  justify-self: start;
  color: var(--color-logo-text);
  font-weight: bold;
  font-size: var(--font-mobile);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--color-logo-shadow);
}

.header__text {
  color: var(--color-header-4);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--color-header-background);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-accent);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
}

.header__rec div {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #ff0070;
  background: var(--color-accent);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-button);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--color-button);
}

/*---------------------------difficult---------------------------------------*/
.difficult {
  margin-top: 40px;
}

.difficult__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}


/*---------------------------attention---------------------------------------*/
.attention {
  margin-top: 50px;
}

.attention__block {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}

/*----------------------------adviсe-------------------------------------------*/
.adviсe {
  margin-top: 50px;
}

.adviсe__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

/*----------------------------pictures-----------------------------------------*/
.pictures {
  margin-top: 50px;
  margin-bottom: 40px;
}

.pictures__block {
  display: grid;
  gap: var(--main-gap);
  margin-top: var(--main-gap);
}

.pictures__image {
  width: 100%;
}

/*----------------------------footer-------------------------------------------*/
.footer {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: var(--main-gap);
  block-size: 100vh;
  min-block-size: 667px;
}

.footer__title {
  color: var(--color-logo-text);
  font-weight: bold;
  font-size: var(--font-mobile);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--color-logo-shadow);
}

@media (width >=768px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    grid-column: 2 / span 1;
  }

  .header__title {
    grid-column: span 2;
    grid-row: 2;
    justify-self: start;
    margin-left: -20px;
    font-size: var(--font-desktop);
  }

  .header__text {
    grid-column: 2;
    grid-row: 3;
  }

  .difficult {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--main-gap);
    margin-top: 60px;
  }

  .difficult__block {
    grid-column: 2;
    margin-top: 0;
  }

  .attention {
    margin-top: 80px;
  }

  .attention__header3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--main-gap);
  }

  .attention__block {
    gap: var(--main-gap);
    margin-top: var(--main-gap);
  }

  .adviсe {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--main-gap);
    margin-top: 80px;
  }

  .adviсe__block {
    margin-top: 0;
  }

  .pictures {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .pictures__block {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
  }

  .pictures__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pictures__image--1 {
    grid-column: 1 / span 2;
  }

  .pictures__image--2 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .pictures__image--3 {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .pictures__image--4 {
    aspect-ratio: 1 / 1;
  }

  .pictures__image--5 {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer__title {
    font-size: var(--font-desktop);
    line-height: 83%;
  }
}

@media (width >=925px) {
  .header__theme-menu {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    line-height: 83%;
  }

  .difficult {
    gap: 12px;
  }

  .attention__block {
    grid-template-columns: repeat(3, 1fr);
  }

  .adviсe {
    gap: 9px;
  }

}